html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    width: 50%;
    border: 1px solid black;
    background-color: rgb(192, 192, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px ;
}

input{
    display: block;
    padding: 10px;
    width: 300px;
    margin: 20px 0;
    border: none;
}

select{
    padding: 10px;
    margin: 20px 0;
    border: none;

}

button{
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

p{
    font-size: 1.3rem;
}

#select{
    width: 100%;

}

#select option{
    text-align: center;
}